<section class="absolute w-[100%] bg-teal-500" style="opacity: 0.5; z-index: 2;">
  <section class="h-screen  flex justify-center items-center">
    <div id="container">
      <a class="animacion" href="https://en.wikipedia.org/wiki/Red">
        Bienevenidos a
      </a>
      <a class="animacion" href="https://en.wikipedia.org/wiki/Red">
        Book Zone
      </a>
    </div>
  </section>
</section>

<section class="relative bg-white " style="z-index: 2;">
  <div class="flex justify-center">
    <div class="flex justify-between flex items-center w-[85%] h-[65px] items-center">
      <div class=" flex items-center">
        <i><img class="w-[50px] h-[50px] " src="assets/img/bookzone-icon.png" alt=""></i>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"><i><img class="w-[30px] h-[35px]" src="assets/img/menu.png"
              alt=""></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/producto'">Producto</button>
          <button mat-menu-item [routerLink]="'/cliente'">Clientes</button>
          <a mat-menu-item [routerLink]="'/usuario'">Usuarios</a>
          <button mat-menu-item [routerLink]="'/venta'">Reporte de ventas</button>
          <button mat-menu-item [routerLink]="'/pedido'">Generar pedidos</button>
          <button mat-menu-item [routerLink]="'/index'">Salir</button>
        </mat-menu>
      </div>
    </div>
  </div>

</section>
