<section class="absolute w-[100%] bg-teal-500" style="opacity: 0.5; z-index: 2;">
  <section class="h-screen  flex justify-center items-center">
  </section>
</section>

<section class="relative bg-white " style="z-index: 2;">
  <div class="flex justify-center">
    <div class="flex justify-between flex items-center w-[85%] h-[65px] items-center">
      <div class=" flex items-center">
        <i><img class="w-[50px] h-[50px]" style="cursor: pointer;" [routerLink]="'/inicio'"
            src="assets/img/bookzone-icon.png" alt=""></i>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"><i><img class="w-[30px] h-[35px]" src="assets/img/menu.png"
              alt=""></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/producto'">Producto</button>
          <button mat-menu-item [routerLink]="'/cliente'">Clientes</button>
          <button mat-menu-item [routerLink]="'/usuario'">Usuarios</button>
          <button mat-menu-item [routerLink]="'/venta'">Reporte de ventas</button>
          <button mat-menu-item [routerLink]="'/pedido'">Generar pedidos</button>
          <button mat-menu-item [routerLink]="'/index'">Salir</button>
        </mat-menu>
      </div>
    </div>
  </div>
</section>

<div class="contenedor " style="z-index: 5; position: relative;">
  <div class="card-body">
    <p class="flex justify-center mt-4 text-[30px]">{{titulo}}</p>

    <form class="space-y-8  flex justify-center contenedor">
      <div class="flex flex-col  w-[100%] mt-10">
        <div class="flex justify-center">
          <div class="col-sm-6">

            <mat-form-field class="w-100">
              <input matInput placeholder="Nombre" name="ventas" [(ngModel)]="producto.nombre">
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">

            <input matInput type="tel" placeholder="Precio" [disabled]="true"  name="producto" [(ngModel)]="producto.precio">
            <p class="mt-[-20px] flex absolute ml-[-20px]">S/</p>
          </mat-form-field>
          </div>
        </div>

        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
            <input matInput  type="tel" placeholder="Stock" [disabled]="true" name="cantidad" [(ngModel)]="producto.stock">
          </mat-form-field>
          </div>
        </div>
        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
            <input matInput type="text" placeholder="Estado" name="preciovent" [disabled]="true" [(ngModel)]="producto.estado">
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
            <input matInput type="text" placeholder="Autor" name="preciovent" [disabled]="true" [(ngModel)]="producto.autor">
          </mat-form-field>
          </div>
        </div>
        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
            <input matInput type="text" placeholder="Editorial" [disabled]="true" name="preciovent"
              [(ngModel)]="producto.editorial">
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
            <input matInput type="tel" placeholder="Numero de paginas" [disabled]="true" name="preciovent"
              [(ngModel)]="producto.numpag">
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-center mt-10">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
            <input matInput type="tel" placeholder="Sinopsis" [disabled]="true" name="preciovent"
              [(ngModel)]="producto.sinopsis">
            </mat-form-field>
          </div>
        </div>
        <div class="flex justify-center mt-6">
          <button class="btn " style="background: cyan;" role="button" (click)='create()'>Registras</button>


        </div>
      </div>
    </form>

  </div>

</div>
